.image-background {
    width: 75%;  
}

.content-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-white {
    color: white !important;
}

.height-area {
    height: 200px !important;
}

.border-container {
    border: 1px dotted #8A98BA;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

img {
    max-width: 100%;
    height: auto;
}