<app-connexion-layout>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="step1Form">
      <div class="margin-bottom-25">
        INFORMATION - <span class="color-secondary">Step 1/5</span>
      </div>
      <ng-template matStepContent>
        <form
          [formGroup]="step1Form"
          class="display-flex flex-direction-column align-items-center height-100"
        >
          <div class="display-flex flex-direction-column width-100">
            <mat-form-field appearance="fill" class="margin-bottom-10">
              <mat-label>Username</mat-label>
              <input type="text" matInput [formControl]="usernameCtrl" />
              <mat-error>{{
                getFormControlErrorText(step1Form.get("username"))
              }}</mat-error>
            </mat-form-field>
            <div class="width-100">
              <mat-form-field
                appearance="fill"
                class="width-100 margin-bottom-10"
              >
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailCtrl"
                  name="email"
                />
                <mat-error>{{
                  getFormControlErrorText(step1Form.get("email"))
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="width-100">
              <mat-form-field
                appearance="fill"
                class="width-100 margin-bottom-10"
              >
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordCtrl" />
                <mat-error>{{
                  getFormControlErrorText(step1Form.get("password"))
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="display-flex gap-30 justify-content-center">
          <button
            mat-flat-button
            color="primary"
            class="color-white"
            matStepperNext
            [ngStyle]="{
              'pointer-events': step1Form.valid ? 'auto' : 'none',
              opacity: step1Form.valid ? 1 : 0.5
            }"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="step2Form">
      <div class="margin-bottom-25">
        PROFIL - <span class="color-secondary">Step 2/5</span>
      </div>
      <form [formGroup]="step2Form">
        <ng-template matStepContent>
          <div class="display-flex flex-direction-column height-100">
            <div class="display-flex flex-direction-column height-100 gap-30">
              <div class="display-flex flex-direction-column">
                <mat-label class="font-weight-bold">Genre</mat-label>
                <mat-radio-group formControlName="genre">
                  <mat-radio-button value="man">Man</mat-radio-button>
                  <mat-radio-button value="woman">Woman</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="display-flex flex-direction-column">
                <mat-label class="font-weight-bold"
                  >Sexual orientation</mat-label
                >
                <mat-radio-group formControlName="sexualOrientation">
                  <mat-radio-button value="heterosexual"
                    >Heterosexual</mat-radio-button
                  >
                  <mat-radio-button value="homosexual"
                    >Homosexual</mat-radio-button
                  >
                  <mat-radio-button value="bisexual">Bisexual</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birth"
                />
                <mat-error>This field is required</mat-error>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="city" />
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="display-flex gap-30 justify-content-center margin-top-20">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-width-130 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white"
              matStepperNext
              [ngStyle]="{
                'pointer-events': step2Form.valid ? 'auto' : 'none',
                opacity: step2Form.valid ? 1 : 0.5
              }"
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="step3Form">
      <div class="margin-bottom-25">
        INTERESTS - <span class="color-secondary">Step 3/5</span>
      </div>
      <form [formGroup]="step3Form">
        <ng-template matStepContent>
          <div
            class="display-flex flex-direction-column height-100 align-items-center margin-top-20"
          >
            <div class="display-flex flex-direction-column height-100 gap-30">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div
                  *ngFor="let checkboxRow of checkboxRows"
                  fxLayout="column"
                  fxLayoutGap="0px"
                >
                  <mat-checkbox
                    *ngFor="let checkbox of checkboxRow"
                    [formControlName]="checkbox.label.toLowerCase()"
                    >{{ checkbox.label }}</mat-checkbox
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="display-flex gap-30 justify-content-center margin-top-20">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-width-130 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white min-width-130"
              matStepperNext
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="step4Ctrl">
      <div class="margin-bottom-25">
        BIOGRAPHIE - <span class="color-secondary">Step 4/5</span>
      </div>
      <form>
        <ng-template matStepContent>
          <div class="display-flex flex-direction-column height-100">
            <div class="display-flex flex-direction-column height-100 gap-30">
              <mat-form-field appearance="fill">
                <textarea
                  class="text-area-height"
                  matInput
                  placeholder="Description"
                  [formControl]="step4Ctrl"
                ></textarea>
                <mat-error>{{ getFormControlErrorText(step4Ctrl) }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="display-flex gap-30 justify-content-center margin-top-20">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-width-130 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white"
              matStepperNext
              [ngStyle]="{
                'pointer-events': step4Ctrl.valid ? 'auto' : 'none',
                opacity: step4Ctrl.valid ? 1 : 0.5
              }"
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step>
      <div class="margin-bottom-25">
        PROFIL PICTURE - <span class="color-secondary">Step 5/5</span>
      </div>
      <form>
        <ng-template matStepContent>
          <div
            class="display-flex flex-direction-column height-100 align-items-center"
          >
            <div class="display-flex flex-direction-column height-100 gap-30">
              <div
                class="picture-container display-flex justify-content-center align-items-center"
              >
                <div
                  class="display-flex flex-direction-column justify-content-center align-items-center height-100 width-100"
                >
                  <div
                    *ngIf="!userImage"
                    class="font-weight-bold text-decoration-underline font font-size-20"
                  >
                    Upload a profil picture
                  </div>
                  <div class="color-secondary font-size-12">
                    .png or .jpg 1 Mo Maximum
                  </div>
                  <img
                    *ngIf="userImage"
                    [src]="getPreviewImage()"
                    alt="user-image"
                    fill
                    priority
                  />
                </div>
                <input
                  type="file"
                  placeholder="Choisir un fichier"
                  name="fileInput"
                  class="input-picture"
                  (change)="onFileSelected($event)"
                />
              </div>
            </div>
          </div>

          <div class="display-flex gap-30 justify-content-center margin-top-20">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-width-130 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white min-width-130"
              (click)="onSubmit()"
            >
              Done
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="align-self-center margin-top-auto margin-bottom-25">
    <div>
      Already a member ?
      <a
        routerLink="/auth/login"
        class="color-primary text-decoration-underline"
        >To log in</a
      >
    </div>
  </div>
</app-connexion-layout>
