<app-connexion-layout>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="step1Form">
      <div class="mb-6">
        INFORMATION - <span class="color-secondary">Step 1/5</span>
      </div>
      <ng-template matStepContent>
        <form [formGroup]="step1Form" class="flex flex-col items-center h-full">
          <div class="flex flex-col w-full">
            <mat-form-field appearance="fill" class="mb-2">
              <mat-label>Username</mat-label>
              <input type="text" matInput [formControl]="usernameCtrl" />
              <mat-error>{{
                getFormControlErrorText(step1Form.get("username"))
              }}</mat-error>
            </mat-form-field>
            <div class="w-full">
              <mat-form-field appearance="fill" class="w-full mb-2">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailCtrl"
                  name="email"
                />
                <mat-error>{{
                  getFormControlErrorText(step1Form.get("email"))
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="w-full">
              <mat-form-field appearance="fill" class="w-full mb-2">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordCtrl" />
                <mat-error>{{
                  getFormControlErrorText(step1Form.get("password"))
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="flex gap-8 justify-center mt-5">
          <button
            mat-flat-button
            color="primary"
            class="color-white"
            matStepperNext
            [ngStyle]="{
              'pointer-events': step1Form.valid ? 'auto' : 'none',
              opacity: step1Form.valid ? 1 : 0.5
            }"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="step2Form">
      <div class="mb-6">
        PROFIL - <span class="color-secondary">Step 2/5</span>
      </div>
      <form [formGroup]="step2Form">
        <ng-template matStepContent>
          <div class="flex flex-col h-full">
            <div class="flex flex-col h-full gap-8">
              <div class="flex flex-col">
                <mat-label class="font-bold">Genre</mat-label>
                <mat-radio-group formControlName="genre">
                  <mat-radio-button value="man">Man</mat-radio-button>
                  <mat-radio-button value="woman">Woman</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="flex flex-col">
                <mat-label class="font-bold">Sexual orientation</mat-label>
                <mat-radio-group formControlName="sexualOrientation">
                  <mat-radio-button value="heterosexual"
                    >Heterosexual</mat-radio-button
                  >
                  <mat-radio-button value="homosexual"
                    >Homosexual</mat-radio-button
                  >
                  <mat-radio-button value="bisexual">Bisexual</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birth"
                />
                <mat-error>This field is required</mat-error>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="city" />
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="flex gap-8 justify-center mt-5">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-w-32 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white"
              matStepperNext
              [ngStyle]="{
                'pointer-events': step2Form.valid ? 'auto' : 'none',
                opacity: step2Form.valid ? 1 : 0.5
              }"
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="step3Form">
      <div class="mb-6">
        INTERESTS - <span class="color-secondary">Step 3/5</span>
      </div>
      <form [formGroup]="step3Form">
        <ng-template matStepContent>
          <div class="flex flex-col h-full items-center mt-5 w-full">
            <div class="flex flex-col h-full gap-8 max-sm:hidden">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div
                  *ngFor="let checkboxRow of checkboxRows"
                  fxLayout="column"
                  fxLayoutGap="0px"
                >
                  <mat-checkbox
                    *ngFor="let checkbox of checkboxRow"
                    [formControlName]="checkbox.label.toLowerCase()"
                    >{{ checkbox.label }}</mat-checkbox
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col h-full gap-8 sm:hidden">
              <div
                fxLayout="column"
                fxLayoutAlign="start start"
                class="sm:hidden"
              >
                <div
                  *ngFor="let checkboxRow of checkboxRowsResponsive"
                  fxLayout="row"
                  fxLayoutGap="5px"
                >
                  <mat-checkbox
                    *ngFor="let checkbox of checkboxRow"
                    [formControlName]="checkbox.label.toLowerCase()"
                    class="w-24"
                    >{{ checkbox.label }}</mat-checkbox
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="flex gap-8 justify-center mt-5">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-w-32 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white min-w-32"
              matStepperNext
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step [stepControl]="step4Ctrl">
      <div class="mb-6">
        BIOGRAPHIE - <span class="color-secondary">Step 4/5</span>
      </div>
      <form>
        <ng-template matStepContent>
          <div class="flex flex-col h-full">
            <div class="flex flex-col h-full gap-8">
              <mat-form-field appearance="fill">
                <textarea
                  class="height-area"
                  matInput
                  placeholder="Description"
                  [formControl]="step4Ctrl"
                ></textarea>
                <mat-error>{{ getFormControlErrorText(step4Ctrl) }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="flex gap-8 justify-center mt-5">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-w-32 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white"
              matStepperNext
              [ngStyle]="{
                'pointer-events': step4Ctrl.valid ? 'auto' : 'none',
                opacity: step4Ctrl.valid ? 1 : 0.5
              }"
            >
              Next
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step>
      <div class="mb-6">
        PROFIL PICTURE - <span class="color-secondary">Step 5/5</span>
      </div>
      <form>
        <ng-template matStepContent>
          <div class="flex flex-col h-full items-center">
            <div class="flex flex-col h-full gap-8">
              <div
                class="border-container sm:w-80 h-48 overflow-hidden flex justify-center items-center relative max-sm:w-72"
              >
                <div
                  class="flex flex-col justify-center items-center h-full w-full"
                >
                  <div *ngIf="!userImage" class="font-bold underline text-xl">
                    Upload a profil picture
                  </div>
                  <div class="color-secondary text-xs">
                    .png or .jpg 1 Mo Maximum
                  </div>
                  <img
                    *ngIf="userImage"
                    [src]="getPreviewImage()"
                    alt="user-image"
                    fill
                    priority
                  />
                </div>
                <input
                  type="file"
                  placeholder="Choisir un fichier"
                  name="fileInput"
                  class="input-picture w-full h-full absolute opacity-0 cursor-pointer"
                  (change)="onFileSelected($event)"
                />
              </div>
            </div>
          </div>

          <div class="flex gap-8 justify-center mt-5">
            <button
              mat-stroked-button
              color="primary"
              class="color-primary min-w-32 border-color-primary"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="color-white min-w-32"
              (click)="onSubmit()"
            >
              Done
            </button>
          </div>
        </ng-template>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="self-center mt-auto mb-6">
    <div>
      Already a member ?
      <a routerLink="/auth/login" class="color-primary underline">To log in</a>
    </div>
  </div>
</app-connexion-layout>
