<div class="display-flex flex-direction-column height-100">
  <div class="margin-bottom-25">
    PROFIL PICTURE - <span class="color-secondary">Step 4/4</span>
  </div>
  <div class="display-flex flex-direction-column height-100 gap-30">
    <div
      class="picture-container display-flex justify-content-center align-items-center"
    >
      <div
        class="display-flex flex-direction-column justify-content-center align-items-center height-100 width-100"
      >
        <div
          class="font-weight-bold text-decoration-underline font font-size-20"
        >
          Upload a profil picture
        </div>
        <div class="color-secondary font-size-12">
          .png or .jpg 1 Mo Maximum
        </div>
      </div>
      <input type="file" placeholder="Choisir un fichier" name="fileInput" />
    </div>
    <div class="display-flex justify-content-space-around">
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Previous
      </button>
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Next
      </button>
    </div>
  </div>
  <div
    class="align-self-center justify-self-end margin-top-auto margin-bottom-10"
  >
    <div>
      Already a member ?
      <a routerLink="/connexion" class="color-primary text-decoration-underline"
        >To log in</a
      >
    </div>
  </div>
</div>
