.color-white {
    color: white !important;
}

.picture-container {
    width: 350px;
    height: 200px;
    border: 1px dotted #8A98BA;
    position: relative;
}

input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}