<mat-toolbar>
  <span class="example-spacer color-secondary">MATCHA</span>
  <button
    mat-icon-button
    class="example-icon home-icon"
    aria-label="Icon-button with home icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon chat-bubble-icon"
    aria-label="Icon-button with chat bubble icon"
  >
    <mat-icon>chat_bubble</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon circle_notifications-icon"
    aria-label="Icon-button with circle_notifications icon"
  >
    <mat-icon>circle_notifications</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div
      class="display-flex justify-content-center align-items-center header-menu"
    >
      <div
        class="background-color-blue img-size overflow-hidden border-radius-50"
      >
        <img class="display-block height-100 width-100" [src]="user.imageUrl" />
      </div>
      <div class="text-header">
        <div class="font-weight-bold">
          {{ user.username | uppercase }}
        </div>
        <div [ngStyle]="{ color: '#8A98BA' }">{{ user.sex | titlecase }}</div>
        <div [ngStyle]="{ color: '#2A2E43' }">{{ user.birth }}</div>
      </div>
    </div>
    <button mat-menu-item class="display-flex space-between">
      <div class="order-0 display-flex">
        <mat-icon [ngStyle]="{ color: '#C4CBDC' }">account_circle</mat-icon>
        <span>My profil</span>
      </div>
      <mat-icon class="order-1 justify-self-end">keyboard_arrow_right</mat-icon>
    </button>
    <button mat-menu-item class="display-flex space-between">
      <mat-icon class="order-0 display-flex" [ngStyle]="{ color: '#C4CBDC' }"
        >search</mat-icon
      >
      <span class="text-item">Advanced search</span>
      <mat-icon class="order-1 justify-self-end">keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-menu-item
      class="display-flex justify-content-right background-color-blue"
      [ngStyle]="{ color: '#2A2E43' }"
    >
      <mat-icon>arrow_forward</mat-icon>
      <span class="text-item">Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
