.example-spacer {
  flex: 1 1 auto;
}

.menu-item {
  display: flex;
}

.header-menu {
  background-color: #F7F7FA;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;;
  margin-right: 5px;;
  margin-bottom: 2px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.text-header {
  margin-left: 10px;
}

.space-between {
  justify-content: space-between;
  
}

.align-items {
  align-items: center;
}

.right {
  justify-content: right;
}

.center {
  justify-content: center;
}

.icon-item-1 {
 order: 0;
 display: flex;
}
.text-item {
  padding-right: 20px;
}

.icon-item-2 {
  order: 1;
  justify-self: end;
}

.img-avatar-header {
  border-radius: 50%;
}