<div class="display-flex flex-direction-column height-100">
  <div class="margin-bottom-25">
    DESCRIPTION - <span class="color-secondary">Step 3/4</span>
  </div>
  <div class="display-flex flex-direction-column height-100 gap-30">
    <mat-form-field appearance="fill">
      <textarea
        class="text-area-height"
        matInput
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <div class="display-flex justify-content-space-around">
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Previous
      </button>
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Next
      </button>
    </div>
  </div>
  <div
    class="align-self-center justify-self-end margin-top-auto margin-bottom-10"
  >
    <div>
      Already a member ?
      <a routerLink="/connexion" class="color-primary text-decoration-underline"
        >To log in</a
      >
    </div>
  </div>
</div>
