<app-connexion-layout>
  <div class="flex flex-col h-full">
    <div class="flex font-bold self-center font-size-20">
      Find love on our dating site
    </div>
    <div class="flex flex-col justify-center h-2/4">
      <a routerLink="/auth/login" class="color-white no-underline">
        <button
          mat-button
          class="color-white m-2 w-full"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
      </a>
      <a routerLink="/connexion/registration" class="color-white no-underline">
        <button
          mat-button
          class="color-white m-2 w-full"
          mat-raised-button
          color="accent"
        >
          Create an account
        </button>
      </a>
    </div>
  </div>
</app-connexion-layout>
