<mat-card class="width-full">
  <mat-card-content>
    <div class="display-flex align-items-center">
      <div class="img-size overflow-hidden border-radius-50">
        <img
          class="display-block height-100 width-100"
          [src]="user.profilImg"
        />
      </div>
      <div class="margin-left-5">
        <div class="font-weight-bold">
          {{ user.information.username | titlecase }}
        </div>
        <div class="color-primary">
          {{ user.profil.genre | titlecase }}
        </div>
        <div>{{ user.profil.birth }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions class="justify-content-right">
      <button
        class="color-white display-flex"
        mat-raised-button
        color="primary"
        (click)="onProfile()"
      >
        <span class="order-0">View profile</span>
        <mat-icon class="order-1 justify-self-end margin-left-5"
          >account_circle</mat-icon
        >
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
