@use "@angular/material" as mat;

@include mat.core();

$primary-palette: (
  50: #e4f5f8,
  100: #bde7ee,
  200: #99d8e3,
  300: #7ec8d6,
  400: #74bdcb,
  500: #73b1c0,
  600: #6ba2ae,
  700: #628d95,
  800: #5b787e,
  900: #485657,
  contrast: (
    50: rgba(white, 0.87),
    100: rgba(white, 0.87),
    200: rgba(white, 0.87),
    300: rgba(white, 0.87),
    400: rgba(white, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$secondary-palette: (
  50: #fce7e4,
  100: #ffc7b4,
  200: #ffa384,
  300: #fc7f54,
  400: #f9632f,
  500: #f74700,
  600: #ec4100,
  700: #de3a00,
  800: #d13300,
  900: #b82500,
  contrast: (
    50: rgba(white, 0.87),
    100: rgba(white, 0.87),
    200: rgba(white, 0.87),
    300: rgba(white, 0.87),
    400: rgba(white, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($secondary-palette, 200);
$my-text-color: #ffffff;

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      text: $my-text-color,
    ),
    density: 0,
  )
);

@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #2A2E43;

}

.background-color-blue {
    background-color: blue;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.height-100 {
  height: 100%;
}

.display-flex {
    display: flex;
  }
  
.flex-direction-column {
  flex-direction: column;
}

.space-between {
    justify-content: space-between;
    
  }
  
  .align-items-center {
    align-items: center;
  }

  .align-self-center {
    align-self: center;
  }

  .align-items-end {
    align-items: end;
  }
  
  .margin-top-auto {
    margin-top: auto;
  }

  .justify-content-right {
    justify-content: right;
  }
  
  .justify-content-center {
    justify-content: center;
  }

  .justify-content-end {
    justify-content: end;
  }
  
.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.font-weight-bold {
    font-weight: bold;
}

.color-primary {
    color: #73b1c0;
}

.color-secondary {
  color: #ffa384;
}

.color-white {
  color: white;
}

.color-gray {
  color: #999999;
}

.border-radius-50 {
    border-radius: 50%;
  }

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.justify-content-space-around {
  justify-content: space-around;
}

.background-primary {
  background-color: #73b1c0;
}

.background-secondary {
  background-color: #ffa384;
}


.margin-10 {
  margin: 10px
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.text-decoration-underline {
  text-decoration: underline;
}

.align-self-flex-end {
  align-self: flex-end;
}