.image-background {
    width: 75%;  
}

.content-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-white {
    color: white !important;
}

.text-area-height {
    height: 200px !important;
}

.picture-container {
    width: 350px;
    height: 200px;
    border: 1px dotted #8A98BA;
    position: relative;
}

.input-picture {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}