<div class="display-flex flex-direction-column height-100">
  <div class="margin-bottom-25">
    PROFIL - <span class="color-secondary">Step 1/4</span>
  </div>
  <div class="display-flex flex-direction-column height-100 gap-30">
    <div class="display-flex flex-direction-column">
      <mat-label class="font-weight-bold">Genre</mat-label>
      <mat-radio-group>
        <mat-radio-button value="email">Man</mat-radio-button>
        <mat-radio-button value="phone">Woman</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="display-flex flex-direction-column">
      <mat-label class="font-weight-bold">Sexual orientation</mat-label>
      <mat-radio-group>
        <mat-radio-button value="email">Heterosexual</mat-radio-button>
        <mat-radio-button value="phone">Homosexual</mat-radio-button>
        <mat-radio-button value="phone">Bisexual</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input type="text" matInput />
    </mat-form-field>
    <div class="display-flex justify-content-space-around">
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Previous
      </button>
      <button mat-flat-button color="primary" class="color-white min-width-130">
        Next
      </button>
    </div>
  </div>
  <div
    class="align-self-center justify-self-end margin-top-auto margin-bottom-10"
  >
    <div>
      Already a member ?
      <a routerLink="/connexion" class="color-primary text-decoration-underline"
        >To log in</a
      >
    </div>
  </div>
</div>
