<mat-toolbar>
  <span class="flex flex-auto color-secondary">MATCHA</span>
  <div class="flex justify-around items-center h-16 w-96">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/">
      <mat-icon>chat_bubble</mat-icon>
    </a>
    <a routerLink="/">
      <mat-icon>favorite</mat-icon>
    </a>
    <a routerLink="/">
      <mat-icon>circle_notifications</mat-icon>
    </a>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div
      class="flex justify-center items-center pt-2.5 pb-2.5 mx-1.5 mb-0.5 bg-[#F7F7FA]"
      *ngIf="user$ | async as user"
    >
      <div class="w-24 h-24 overflow-hidden rounded-full">
        <img class="block h-full w-full" [src]="user.profilImg" />
      </div>
      <div class="ml-2">
        <div class="font-bold">
          {{ user.information.username | uppercase }}
        </div>
        <div [ngStyle]="{ color: '#8A98BA' }">
          {{ user.profil.sexualOrientation | titlecase }}
        </div>
        <div [ngStyle]="{ color: '#2A2E43' }">{{ user.profil.birth }}</div>
      </div>
    </div>
    <button mat-menu-item class="flex justify-between">
      <div class="order-0 flex">
        <mat-icon [ngStyle]="{ color: '#C4CBDC' }">account_circle</mat-icon>
        <a routerLink="/profile">My profil</a>
      </div>
      <mat-icon class="order-1 justify-self-end">keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-menu-item
      class="flex justify-content-right"
      [ngStyle]="{ color: '#2A2E43' }"
      (click)="onLogout()"
    >
      <mat-icon>arrow_forward</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
