<div class="display-flex flex-direction-column align-items-center height-100">
  <span class="margin-bottom-25"
    >INFORMATIONS</span
  >
  <div
    class="display-flex flex-direction-column width-100"
  >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-bottom-25">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <button mat-flat-button color="primary" class="color-white">Next</button>
  </div>
  <div
    class="align-self-center justify-self-end margin-top-auto margin-bottom-10"
  >
    <div>
      Already a member ?
      <a routerLink="" class="color-primary text-decoration-underline"
        >To log in</a
      >
    </div>
  </div>
</div>
