<mat-card class="w-full">
  <mat-card-content>
    <div class="flex items-center">
      <div class="w-28 h-28 overflow-hidden rounded-full">
        <img class="block h-full w-full" [src]="user.profilImg" />
      </div>
      <div class="ml-1">
        <div class="font-bold">
          {{ user.information.username | titlecase }}
        </div>
        <div class="color-primary">
          {{ user.profil.genre | titlecase }}
        </div>
        <div>{{ user.profil.birth }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions class="justify-content-right">
      <button
        class="color-white flex"
        mat-raised-button
        color="primary"
        (click)="onProfile()"
      >
        <span class="order-0 mr-3">View profile</span>
        <mat-icon class="order-1 justify-self-end">account_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
