<div class="flex flex-col" *ngIf="user$ | async as user">
  <div
    [ngStyle]="{
      'background-image': 'url(' + user.backgroundImage + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }"
    class="flex justify-center items-end h-80 w-full"
  >
    <div class="h-60 w-60 overflow-hidden rounded-full img-border -mb-20">
      <img class="block h-full w-full" [src]="user.profilImg" />
    </div>
  </div>
  <div class="mt-24 flex justify-center text-5xl font-bold mb-24">
    {{ user.information.username | titlecase }}
  </div>
  <div class="flex justify-content-right mr-12">
    <div class="flex gap-7">
      <button mat-stroked-button color="accent" class="flex justify-center">
        <mat-icon>favorite_border</mat-icon>
        <span class="max-sm:hidden">Like</span></button
      ><button mat-stroked-button color="primary">
        <mat-icon>message</mat-icon> <span class="max-sm:hidden">Message</span>
      </button>
    </div>
  </div>

  <div class="flex m-12 gap-7 max-sm:flex-col">
    <div class="p-2 border-container flex-1 max-sm:order-2">
      <div class="color-primary font-bold mb-6">Pictures</div>
      <div
        class="max-sm:flex sm:grid sm:grid-cols-2 sm:gap-6 m-2 max-sm:flex-col max-sm:gap-1 max-sm:items-center"
      >
        <div
          class="w-60 h-36 overflow-hidden relative picture-border-container flex justify-center items-center"
        >
          <img
            class="block h-full w-full object-cover"
            cImg
            fluid
            [src]="
              user.picture1
                ? user.picture1
                : '../../../assets/images/no-image.png'
            "
          />
        </div>
        <div
          class="w-60 h-36 overflow-hidden relative picture-border-container"
        >
          <img
            class="display-block h-full w-full object-cover"
            cImg
            fluid
            [src]="
              user.picture2
                ? user.picture2
                : '../../../assets/images/no-image.png'
            "
          />
        </div>
        <div
          class="w-60 h-36 overflow-hidden relative picture-border-container"
        >
          <img
            class="display-block h-full w-full object-cover"
            cImg
            fluid
            [src]="
              user.picture3
                ? user.picture3
                : '../../../assets/images/no-image.png'
            "
          />
        </div>
        <div
          class="w-60 h-36 overflow-hidden relative picture-border-container"
        >
          <img
            class="display-block h-full w-full object-cover"
            cImg
            fluid
            [src]="
              user.picture4
                ? user.picture4
                : '../../../assets/images/no-image.png'
            "
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col border-container p-7 flex-2 max-sm:order-1">
      <div class="mb-12">
        {{ user.biographie }}
      </div>
      <div class="flex flex-col items-center">
        <div class="flex gap-2 mb-12">
          <div class="flex flex-col items-center gap-7">
            <div class="font-bold">Genre</div>
            <div class="font-bold">Sexual orientation</div>
            <div class="font-bold">Age</div>
            <div class="font-bold">Location</div>
          </div>
          <div class="flex flex-col items-center gap-7">
            <div>{{ user.profil.genre }}</div>
            <div>{{ user.profil.sexualOrientation }}</div>
            <div>{{ user.profil.birth }}</div>
            <div>{{ user.profil.city }}</div>
          </div>
        </div>
        <div class="flex justify-center gap-2">
          <div *ngFor="let interest of user.interests">
            <div class="background-secondary color-white p-1 rounded-2xl">
              {{ interest }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
