.color-white {
    color: white !important
}

.height-325px {
    height: 325px;
}

.img-size {
    height: 240px;
    width: 240px;
}

.margin-bottom-negative-80px {
    margin-bottom: -80px;
}

.img-border {
    border: 2px solid white;
}

.position-relatif {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.margin-top-100px {
    margin-top: 100px;
}

.font-weight-55px {
    font-size: 55px;
}

.image-container {
    width: 550px;
}

.image-list-container {
    width: 400px;
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}

.border-container {
    border: 1px solid #ffa384;
}

.input-picture {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 50;
  }

  .picture-border-container {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #d8dde7;
    position: relative;
}

.img-user {
    max-width: 100%;
    height: auto;
    background-color: white;
}

.img-cover {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: absolute; 
    left: 0;
    z-index: 0;
}

.text-area-height {
    height: 200px !important;
    width: 100%;
}

.button-image-profil {
    z-index: 0;
    margin-bottom: -30px;
    margin-left: -40px;
}

.button-cover {
    right: 20px;
    bottom: 10px;
}

.button-cover span {
    font-weight: lighter;
}

.object-fil-cover {
    object-fit: cover;
}