<div class="display-flex flex-direction-column" *ngIf="user$ | async as user">
  <div
    [ngStyle]="{
      'background-image': 'url(' + user.backgroundImage + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }"
    class="display-flex justify-content-center align-items-end height-325px width-100"
  >
    <div
      class="img-size overflow-hidden border-radius-50 img-border margin-bottom-negative-80px"
    >
      <img class="display-block height-100 width-100" [src]="user.profilImg" />
    </div>
  </div>
  <div
    class="margin-top-100px display-flex justify-content-center font-weight-55px font-weight-bold margin-bottom-100"
  >
    {{ user.information.username | titlecase }}
  </div>
  <div class="display-flex justify-content-right margin-rigth-50 gap-30">
    <div>
      <button mat-stroked-button color="accent">
        <mat-icon>favorite_border</mat-icon> Like</button
      ><button mat-stroked-button color="primary">
        <mat-icon> message</mat-icon> Message
      </button>
    </div>
  </div>
  <div class="display-flex margin-50 gap-30">
    <div class="padding-10 border-container flex-1">
      <div class="color-primary font-weight-bold margin-bottom-25">
        Pictures
      </div>
      <div class="grid-container margin-10">
        <div *ngFor="let image of user.imageList">
          <div *ngIf="image" class="image-list-container">
            <img
              class="display-block height-100 width-100"
              mat-card-image
              [src]="image"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="display-flex flex-direction-column border-container padding-30 flex-2"
    >
      <div class="margin-bottom-50">
        {{ user.biographie }}
      </div>
      <div class="display-flex flex-direction-column align-items-center">
        <div class="display-flex gap-10 margin-bottom-50">
          <div
            class="display-flex flex-direction-column align-items-center gap-30"
          >
            <div class="font-weight-bold">Genre</div>
            <div class="font-weight-bold">Sexual orientation</div>
            <div class="font-weight-bold">Age</div>
            <div class="font-weight-bold">Location</div>
          </div>
          <div
            class="display-flex flex-direction-column align-items-center gap-30"
          >
            <div>{{ user.profil.genre }}</div>
            <div>{{ user.profil.sexualOrientation }}</div>
            <div>{{ user.profil.birth }}</div>
            <div>{{ user.profil.city }}</div>
          </div>
        </div>
        <div class="display-flex justify-content-center gap-10">
          <div *ngFor="let interest of user.interests">
            <div
              class="background-secondary color-white padding-5 border-radius-15"
            >
              {{ interest }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
