<div class="flex flex-col" *ngIf="user">
  <div class="flex justify-center items-end h-80 w-full relative">
    <img *ngIf="coverImage" [src]="coverImage" class="img-cover" />

    <div
      class="z-0 w-60 h-60 overflow-hidden rounded-full img-border -mb-20 background-color-white"
    >
      <img class="max-w-full h-auto background-color-white" [src]="userImage" />
    </div>
    <div class="flex relative z-50">
      <button class="z-0 -mb-7 -ml-10 relative" mat-fab color="primary">
        <input
          type="file"
          placeholder="Choisir un fichier"
          name="fileInput"
          class="h-full w-full top-0 left-0 opacity-0 absolute cursor-pointer z-50"
          (change)="onFileSelected($event, 'main')"
        />
        <mat-icon class="z-0">camera_alt</mat-icon>
      </button>
    </div>
    <div class="bottom-0 right-5 absolute max-sm:top-5">
      <button mat-raised-button>
        <input
          type="file"
          placeholder="Choisir un fichier"
          name="fileInput"
          class="h-full w-full top-0 left-0 opacity-0 absolute cursor-pointer z-50"
          (change)="onFileSelected($event, 'cover')"
        />

        <mat-icon>camera_alt</mat-icon
        ><span class="font-light">Change cover</span>
      </button>
    </div>
  </div>
  <div class="mt-24 flex justify-center font-bold mb-24 text-6xl">
    {{ user.information.username | titlecase }}
  </div>
  <div class="flex justify-content-right mr-12 gap-7">
    <button
      mat-stroked-button
      color="accent"
      (click)="openDialogForDeleteUser()"
    >
      <mat-icon>delete</mat-icon> <span class="max-sm:hidden">Delete</span>
    </button>
  </div>
  <div class="flex m-12 gap-7">
    <div class="flex flex-col w-full p-2 border-container rounded-xl">
      <div class="color-primary font-bold mb-6">Pictures</div>
      <div
        class="flex m-2 justify-between max-sm:flex-col max-sm:items-center gap-4"
      >
        <div *ngFor="let image of imageTab; let i = index">
          <div class="w-96 h-48 max-sm:w-full">
            <div
              class="picture-border-container h-48 overflow-hidden relative flex justify-center items-center max-sm:w-60"
            >
              <div
                *ngIf="!image"
                class="flex flex-col justify-center items-center h-full w-full"
              >
                <div class="font-bold underline text-xl">
                  Upload a profil picture
                </div>
                <div class="color-secondary text-sx">
                  .png or .jpg 1 Mo Maximum
                </div>
              </div>
              <img *ngIf="image" [src]="image" alt="image" />
              <input
                type="file"
                placeholder="Choisir un fichier"
                name="fileInput"
                class="h-full w-full top-0 left-0 opacity-0 absolute cursor-pointer z-50"
                (change)="onFileSelected($event, i)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex m-12 gap-7">
    <div class="flex flex-col w-full p-2 border-container">
      <div class="color-primary font-bold mb-6">My informations</div>
      <form
        [formGroup]="informationsForm"
        class="flex m-2 space-around max-sm:flex-col"
      >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            placeholder="Confirm password"
            [formControl]="confirmPasswordCtrl"
            type="password"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="flex m-12 gap-7 max-sm:flex-col">
    <div class="flex flex-col w-full p-2 border-container">
      <div class="color-primary font-bold mb-6">My interests</div>
      <form [formGroup]="interestsForm" class="flex m-2 space-around">
        <div class="flex flex-col h-full items-center mt-5">
          <div class="flex flex-col h-full gap-7 max-sm:hidden">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div
                *ngFor="let checkboxRow of checkboxRows"
                fxLayout="column"
                fxLayoutGap="0px"
              >
                <mat-checkbox
                  *ngFor="let checkbox of checkboxRow"
                  [formControlName]="checkbox.label.toLowerCase()"
                  >{{ checkbox.label }}</mat-checkbox
                >
              </div>
            </div>
          </div>
          <div class="flex flex-col h-full gap-8 sm:hidden">
            <div
              fxLayout="column"
              fxLayoutAlign="start start"
              class="sm:hidden sm:background-color-blue"
            >
              <div
                *ngFor="let checkboxRow of checkboxRowsResponsive"
                fxLayout="row"
                fxLayoutGap="5px"
              >
                <mat-checkbox
                  *ngFor="let checkbox of checkboxRow"
                  [formControlName]="checkbox.label.toLowerCase()"
                  class="w-24"
                  >{{ checkbox.label }}</mat-checkbox
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="flex flex-col w-full p-2 border-container">
      <div class="color-primary font-bold mb-6">My profil</div>
      <form [formGroup]="profilForm" class="flex m-2 space-around">
        <div class="flex flex-col h-full">
          <div class="grid-container h-full gap-7">
            <div class="flex flex-col">
              <mat-label class="font-bold">Genre</mat-label>
              <mat-radio-group formControlName="genre">
                <mat-radio-button value="man">Man</mat-radio-button>
                <mat-radio-button value="woman">Woman</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="flex flex-col">
              <mat-label class="font-bold">Sexual orientation</mat-label>
              <mat-radio-group formControlName="sexualOrientation">
                <mat-radio-button value="heterosexual"
                  >Heterosexual</mat-radio-button
                >
                <mat-radio-button value="homosexual"
                  >Homosexual</mat-radio-button
                >
                <mat-radio-button value="bisexual">Bisexual</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field>
              <mat-label>Date of birth</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birth"
                class="max-sm:text-ellipsis"
              />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input type="text" matInput formControlName="city" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="flex m-12 gap-7">
    <div class="flex flex-col w-full p-2 border-container">
      <div class="color-primary font-bold mb-6">My biographie</div>
      <div class="flex m-2 space-around">
        <div class="flex flex-col h-full w-full">
          <div class="flex flex-col h-full gap-7 w-full">
            <mat-form-field appearance="fill">
              <textarea
                class="text-area-height"
                matInput
                placeholder="Description"
                [formControl]="biographieCtrl"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mb-6 justify-center">
    <button
      (click)="openDialogForUpdateUser()"
      class="color-white"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </div>
</div>
